<!DOCTYPE html>
<html>

<head>
    <title>房产信息</title>
    <meta charset="UTF-8">

    
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <link rel="stylesheet" href="../../css/element-ui.css">
    <link rel="stylesheet" href="../../css/global.css">
</head>

<body>
    <div id="u_healthFund">
        <el-form ref="searchForm" :inline="true" :model="formData" label-width="100px" class="demo-form-inline">
            <el-form-item label="会员名称">
                <el-input class="width-150" v-model="formData.name" size="mini" placeholder="会员名称"></el-input>
            </el-form-item>
            <el-form-item label="手机号码">
                <el-input class="width-150" v-model="formData.phone" size="mini" placeholder="手机号码"></el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="plain" size="mini" @click="reset">清空</el-button>
                <el-button type="primary" size="mini" @click="onSubmit">搜索</el-button>
            </el-form-item>
        </el-form>
        <h2 class="text-center">房产信息</h2>
        <el-row class="mb-10">
            <el-button size="mini">
                <i class="el-icon-plus"></i> 新增
            </el-button>
            <el-button size="mini">
                <i class="el-icon-delete"></i> 批量删除
            </el-button>
            <el-button size="mini">
                <i class="el-icon-delete"></i> 删除
            </el-button>
            <el-button-group>
                <el-button size="mini" type="plain" icon="el-icon-download">导入</el-button>
                <el-button size="mini" type="plain" icon="el-icon-upload2">导出</el-button>
            </el-button-group>
        </el-row>

        <el-table :data="tableData" border style="width: 100%">
            <el-table-column type="selection" width="40"></el-table-column>
            <el-table-column prop="field1" label="房间ID" :min-width="elTableColumnWidth"></el-table-column>
            <el-table-column prop="field2" label="房间号码" :min-width="elTableColumnWidth"></el-table-column>
            <el-table-column prop="field3" label="会员ID" :min-width="elTableColumnWidth"></el-table-column>
            <el-table-column prop="field4" label="会员手机号" :min-width="elTableColumnWidth"></el-table-column>
            <el-table-column prop="field5" label="会员姓名" :min-width="elTableColumnWidth"></el-table-column>
            <el-table-column prop="field6" label="产品类型" :min-width="elTableColumnWidth"></el-table-column>
            <el-table-column prop="field7" label="楼盘名称" :min-width="elTableColumnWidth"></el-table-column>
            <el-table-column prop="field8" label="销售建筑面积" :min-width="elTableColumnWidth"></el-table-column>
            <el-table-column prop="field9" label="合同价" :width="elTableColumnWidth"></el-table-column>
            <el-table-column prop="field10" label="购房日期" :width="elTableColumnWidth"></el-table-column>
            <!-- <el-table-column label="操作" width="100px" fixed="right">
                <template slot-scope="scope">
                    <div>
                        <el-button size="mini">
                            <i class="el-icon-delete"></i> 删除
                        </el-button>
                    </div>
                </template>
            </el-table-column> -->
        </el-table>
        <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[100, 200, 300, 400]" :page-size="100" layout="total, sizes, prev, pager, next, jumper" :total="400">
        </el-pagination>
    </div>
    <script src="../../js/polyfill.js"></script>
    <script src="../../js/plugin.js"></script>
    <script src="../../js/axios.min.js"></script>
    <script src="../../js/vue.js"></script>
    <script src="../../js/element-ui.js"></script>
    <script src="../../js/util.js"></script>
    <script src="../../js/crypto-js.js"></script>
    <script src="./index.js"></script>
</body>

</html>
