<!DOCTYPE html>
<html>

<head>
    <title>会员查询</title>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <!-- <link rel="stylesheet" href="../../css/element-ui.css"> -->
    <link rel="stylesheet" href="../../css/global.css">
    <link rel="stylesheet" href="../../css/mui.css/mui.min.css">
    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <!-- <div class="u-preLoading">正在加载......</div>
    <script>
        window.onload = function () {
            var preLoading = document.querySelector(".u-preLoading")
            document.body.removeChild(preLoading);
        }

    </script> -->
    <div id="u_healthFund">
        <div class="titleContent">
            <h4 class="text-center">会员查询</h4>
            <div class="mui-input-row mui-search">
                <input @keyup.enter="search" ref="searchInp" type="search" class="mui-input-clear" placeholder="请输入手机号码">
            </div>
        </div>
        <div class="userContent">
            <div v-if="isLoading" class="text-center" v-gray>正在加载......</div>
            <template v-if="users.length > 0">
                <div v-for="(item,i) in users" :key="i" class="item mt-5">
                    <ul class="mui-table-view">
                        <li class="mui-table-view-cell">
                            <div class="mui-row">
                                <div class="mui-col-xs-4 mui-col-sm-4">用户名:</div>
                                <div class="mui-col-xs-8 mui-col-sm-8">{{item.realname || "暂无"}}</div>
                            </div>
                        </li>
                        <li class="mui-table-view-cell">
                            <div class="mui-row">
                                <div class="mui-col-xs-4 mui-col-sm-4">电话:</div>
                                <div class="mui-col-xs-8 mui-col-sm-8">{{item.phone || "暂无"}}</div>
                            </div>
                        </li>
                        <li class="mui-table-view-cell">
                            <div class="mui-row">
                                <div class="mui-col-xs-4 mui-col-sm-4">身份证:</div>
                                <div class="mui-col-xs-8 mui-col-sm-8">{{item.identity_num ? item.identity_num.replace(item.identity_num.slice(6,14),"********") : "暂无"}}</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </template>
            <template v-else>
                <h5 class="text-center">暂无数据</h5>
            </template>
            <div>
                <h1>{{info.name}}</h1>
            </div>

        </div>
    </div>
</body>
<script src="../../js/polyfill.js"></script>
<script src="../../js/mui.min.js"></script>
<script src="../../js/plugin.js"></script>
<script src="../../js/axios.min.js"></script>
<script src="../../js/vue.js"></script>
<!-- <script src="../../js/element-ui.js"></script> -->
<script src="../../js/util.js"></script>
<script src="../../js/crypto-js.js"></script>
<script src="./index.js"></script>

</html>
